{% extends "base_generic_owner.html" %}

{% block content %}
    <h3>Lista de owners registrados (VCB)</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
                <th scope="col">País</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for owner in owners %}
                <tr>
                    <th scope="row">{{ owner.id }}</th>
                    <td>{{ owner.nombre }}</td>
                    <td>{{ owner.edad }}</td>
                    <td>{{ owner.pais }}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'owner_update_vc' pk=owner.id %}">Editar</a>
                        <a class="btn btn-danger" href="{% url 'owner_delete_vc' pk=owner.id %}">Eliminar</a>
                    </td>


                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a class="btn btn-secondary" href="{% url 'owner_create_vc' %}">Crear Nuevo Owner</a>
{% endblock %}
